apiVersion: batch/v1
kind: CronJob
metadata:
  name: cron-init-tickers
spec:
  # Every 15th minute during market hours
  schedule: '0 12  * * *'
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: cron-init-tickers
              image: eu.gcr.io/baggers-367917/cron-init-tickers:latest
              imagePullPolicy: Always
              resources:
                requests:
                  cpu: 2

              envFrom:
                - secretRef:
                    name: api-env
          restartPolicy: OnFailure
