@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-search-light {
    border: double 1px transparent;

    background-image: linear-gradient(
        rgb(228, 229, 251),
        rgb(224, 228, 251)
      ),
      linear-gradient(rgb(36, 97, 247, 1), rgb(116, 47, 246, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  .border-search-light::placeholder {
    color: #742ff6;
  }
  .border-search-dark::placeholder {
    color: rgba(242, 242, 242, 0.7);
  }

  .border-search-dark {
    padding: 0.5rem;
    border: double 1px transparent;
    border-radius: 45px;
    background-image: linear-gradient(
        rgb(39, 46, 72),
        rgb(45, 42, 63)
      ),
      linear-gradient(rgba(36, 97, 247, 1), rgba(154, 106, 255, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  .border-search-dark:focus {
    border: double 3px transparent;
  }

  .text-shadow-primary-light {
    text-shadow: 0 0 0.01px #742ff6;
  }
  .text-shadow-primary-dark {
    text-shadow: 0 0 0.01px #9a6aff;
  }
}
