name: CD

on:
  push:
    branches:
      - "develop"
    

jobs:
  deployUi:
    name: "Deploy UI"
    if: ${{ !contains(github.event.commits[0].message, '[skip ci]') }}
    runs-on: ubuntu-latest
    environment: "Production"
    steps:
      - uses: actions/checkout@v2
      - name: "Deploy ui"
        uses: superfly/flyctl-actions@master
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          FLY_PROJECT_PATH: packages/ui
        with:
          args: "deploy"
  deployApi:
    name: "Deploy API"
    if: ${{ !contains(github.event.commits[0].message, '[skip ci]') }}
    runs-on: ubuntu-latest
    environment: "Production"
    steps:
      - name: "Deploy API"
        uses: superfly/flyctl-actions@master
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          FLY_PROJECT_PATH: packages/api
        with:
          args: "deploy"