name: CI

on: 
  pull_request:
    branches:
      - develop

env:
  AWS_REGION: eu-west-1
  ATLAS_CLUSTER_URI: ${{ secrets.ATLAS_CLUSTER_URI }}
  API_DOMAIN: ${{ secrets.API_DOMAIN }}
  COGNITO_IDENTITYPOOL_ID: ${{ secrets.COGNITO_IDENTITYPOOL_ID }}
  COGNITO_USERPOOL_ID: ${{ secrets.COGNITO_USERPOOL_ID }}
  COGNITO_USERPOOL_WEBCLIENT_ID: ${{ secrets.COGNITO_USERPOOL_WEBCLIENT_ID }}
  WEB_ORIGIN: ${{ secrets.WEB_ORIGIN }}
  IEX_BASE_URL: ${{ secrets.IEX_BASE_URL }}
  IEX_TOKEN: ${{ secrets.IEX_TOKEN }} 
  SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}

jobs:
  verify-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Verify Linked Issue
        uses: hattan/verify-linked-issue-action@v1.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install global dependencies
        run: npm i -g yarn serverless

      - name: Setup env files
        run: |
          envsubst < packages/graphql/.env > packages/graphql/.env
          envsubst < packages/ui/.env > packages/ui/.env
          git update-index --assume-unchanged packages/graphql/.env
          git update-index --assume-unchanged packages/ui/.env

      - name: Install workspace dependencies
        run: yarn workspaces focus -A

      - name: Build
        run: yarn build
        env:
          NODE_ENV: production

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
